#ak 
AliyunUtils.java
guli_parent/out/
# Compiled class file
*.class
nginx-1.9.9/**
nacos-server-1.3.1/**
# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
